################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mango/Mango.Services.CouponAPI/obj
/Mango/Mango.Services.CouponAPI/bin
/Mango/.vs/Mango
