################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mango/Mango.Services.CouponAPI/obj
/Mango/Mango.Services.CouponAPI/bin
/Mango/.vs/Mango
/Mango/Mango.Web/bin
/Mango/Mango.Web/obj
/Mango/Mango.Services.AuthAPI/bin/
/Mango/Mango.Services.AuthAPI/obj
/Mango/.vs/ProjectEvaluation
/Mango/Mango.Services.ProductAPI/obj
/Mango/Mango.Services.ProductAPI/bin
/Mango/Mango.Services.ShoppingCartAPI/bin
/Mango/Mango.Services.ShoppingCartAPI/obj
/Mango/Mango.MessageBus/obj
/Mango/Mango.MessageBus/bin
/Mango/Mango.Services.EmailAPI/bin
/Mango/Mango.Services.EmailAPI/obj
/Mango/Mango.Services.OrderAPI/bin
/Mango/Mango.Services.OrderAPI/obj
/Documents_OtherFiles/~$PPTS.docx
/Mango/Mango.Services.RewardAPI/bin
/Mango/Mango.Services.RewardAPI/obj
